{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- treatments_page.html content starts here -->
<div class="treatment-login">
    {% if user.is_authenticated %}
    <p class="text-start m-3"></p>
    {% else %}
    <a class="auth-btn {% if request.path == login_url %}active{% endif %}" aria-current="page"
        href="{% url 'account_login' %}">Log in to book an appointment</a>
    {% endif %}
</div>
<div class="container-fluid">
    {% if is_paginated %}

    {% endif %}
    <div class="row">

        <!-- Treatments Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for treatment in treatments %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-flash">
                                <h2 class="category">{{ treatment.category }}</h2>
                            </div>
                            <div class="image-container">
                                <img class="card-image" src="{% if treatment.category == 'Facial' %}
                                                {% static 'images/facial.jpg' %}
                                            {% elif treatment.category == 'Massage' %}
                                                {% static 'images/massage.jpg' %}
                                            {% else %}
                                                {% static 'images/mum-to-be.jpg' %}
                                            {% endif %}" 
                                    alt="{% if treatment.category == 'Facial' %}
                                            Woman enjoying a facial image
                                         {% elif treatment.category == 'Massage' %}
                                            Woman recieving a massage image
                                         {% else %}
                                            Mum-to-be treatment calming image of candels
                                         {% endif %}">
                            </div>
                            <h3 class="card-title">{{ treatment.treatment }}</h3>
                            <hr>
                            <p class="card-text text-muted h6">{{ treatment.description }}
                            </p>
                            <hr>
                            <p class="card-text text-muted h6"><em>{{ treatment.duration }} - {{ treatment.cost }}</em>
                            </p>
                            <a href="{% url 'book_appointment' %}" class="btn btn-md active book-now" role="button"
                                aria-pressed="true">Book Now</a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Previous</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> More &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- treatments_page.html content ends here -->
{% endblock %}