{% extends "base.html" %}

{% block content %}

<!-- treatments_page.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Treatments Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for treatment in treatments %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="category">{{ treatment.category }}</p>
                                </div>
                            </div>
                            <a href="#" class="post-link">
                                <h2 class="card-title">{{ treatment.treatment }}</h2>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">{{ treatment.description }}
                            </p>
                            <hr />
                            <p class="card-text text-muted h6"><em>{{ treatment.duration }} - {{ treatment.cost }}</em>
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}"
                    class="page-link">&laquo; Previous</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> More &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- treatments_page.html content ends here -->
{% endblock %}