{% extends "base.html" %}
{% load static %}

{% block content %}

<!--homepage.html content starts here -->

<div class="container-fluid">
    <div class="image-container">
        <img src="https://res.cloudinary.com/dqgc8opao/image/upload/v1734733331/hot-stone-image_kctsrt.jpg" alt="Spa Banner" loading="lazy">

    </div>
    <div>
        <h2 class="main-heading">Welcome to Serenity Escape Spa</h2>
        <p class="welcome">Indulge yourself at Serenity Escape Spa where we offer a complete suite of relaxation and
            personal care packages</p>
    </div>
    <br>
    <div class="introduction">
        <p>Step into a world where tranquility meets luxury at Serenity Escape Spa, your ultimate retreat for
            relaxation,
            rejuvenation, and self-care.
            Nestled in a serene setting, our spa is thoughtfully designed to provide an oasis of calm in the midst of
            life's
            busy rhythms.
            At Serenity Escape Spa, we believe in the art of holistic well-being. From our soothing massages to
            revitalizing
            facials and indulgent body treatments,
            each service is carefully curated to restore balance to your mind, body, and spirit. Our highly skilled
            therapists
            and estheticians use premium products and tailor each experience to meet your unique needs, ensuring you
            leave
            feeling refreshed and renewed.
            Whether you're seeking a moment of peace, a luxurious escape, or an opportunity to enhance your wellness
            journey,
            Serenity Escape Spa offers a haven where relaxation knows no bounds. Immerse yourself in the gentle sounds,
            calming aromas,
            and warm ambiance that make every visit a transformative experience.
            Discover the perfect harmony of comfort and care at Serenity Escape Spa – because you deserve nothing less
            than
            the best. Your escape begins here.</p>
    </div>
    <br>
    <div class="row row-centered pos">
        <div class="col-lg-8 col-xs-12 col-centered intro-treatments">
            <img class="intro-image" src="{% static 'images/spa-1.jpg' %}" alt="oil-image">
            <p>Unwind and let your stress melt away with our serene spa treatments. From calming massages to
                revitalizing facials,
                we offer the perfect escape to refresh your body and mind. Treat yourself to the ultimate relaxation—you
                deserve it.</p>

            <a href="{% url 'treatments' %}" class="btn btn-md active treatment-btn" role="button"
                aria-pressed="true">View our
                Treatments</a>
        </div>
    </div>
    <br>
    <div class="row row-centered pos">
        <div class="col-lg-8 col-xs-12 col-centered review-display">
            <h3>See what our happy customers have to say about their experience with us!</h3>
            <ul>
                {% for review in reviews %}
                <li class="homepage-review">
                    <strong>{{ review.score }}/5</strong>
                    <br>
                    {{ review.review }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</div>

<!-- homepage.html content ends here -->
{% endblock %}