* {
    font-family: "Ysabeau Infant", sans-serif;
    color: #1c1c1f;
}

body {
    background-color: rgb(247, 236, 223);
}

.footer {
    background-color: rgb(247, 236, 223);
}

/* Nav bar */
.brand {
    font-size: 2.5rem;
    font-weight: 700;
}

.navbar {
    padding: 0;
}

.navbar-nav {
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-item {
    padding-left: .5rem;
    padding-right: .5rem;
}

/* Homepage */

.image-container img {
    position: relative;
    width: 100%;
    height: 30%;
    max-height: 30rem;
    left: 0;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.container-fluid {
    text-align: center;
    background-color: rgb(247, 236, 223);
}

.main-heading {
    text-transform: uppercase;
    font-size: xx-large;
}

.welcome {
    font-size: x-large;
    font-style: italic;
}

.introduction {
    font-size: large;
    padding-left: 10%;
    padding-right: 10%;
}

.intro-treatments {
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(248, 243, 238);
    padding: 1rem;
    margin: auto;
    width: 50%;
    font-size: larger;
}

.intro-treatments img {
    object-position: center;
    width: 80%;
    height: auto;
    max-width: 100%;
}

.treatment-btn {
    background-color: rgb(240, 196, 102);
}

.review-display {
    align-items: center;
    text-align: center;
    background-color: rgb(248, 243, 238);
    padding: 1rem;
    margin: auto;
    width: 50%;
    font-size: larger;
}

/* Treatments Page */

.card-image {
    object-position: center;
    width: 30%;
    height: 20%;
    max-width: 50%;
    max-height: 40%;
    padding: 0, 0, 1, 0;
}

.card-body {
    text-align: center;
    background-color: rgb(248, 243, 238);
    ;
    padding: 0, 0, 1, 0;
}

.book-now {
    background-color: rgb(240, 196, 102);
}

.page-link {
    background-color: rgb(248, 243, 238);
    ;
    color: #3c3c3f;
}

.page-link:hover {
    background-color: rgb(243, 210, 139);
    color: rgb(248, 243, 238);
    ;
}


/* Book Now Page */

.container {
    padding: 1rem;
    margin: auto;
    width: 50%;
}

.booking-form {
    background-color: rgb(248, 243, 238);
    padding: 1%;
}

.book-app-heading {
    font-weight: 650;
}

button.book-btn {
    background-color: rgb(240, 196, 102);
}

.about-us-heading {
    font-weight: 650;
}

.info {
    color: rgb(201, 139, 5);
}

.about-us {
    background-color: rgb(248, 243, 238);
    font-size: larger;
    padding: 1.5%;
}

.messages {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.messages .alert {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.messages .alert.error {
    background-color: rgb(248, 243, 238);
    ;
    color: rgb(216, 45, 59);
}

.messages .alert.success {
    background-color: rgb(248, 243, 238);
    ;
    color: rgb(201, 139, 5);
    ;
}

/* List Appointments Page */

.list-appointments {
    background-color: rgb(248, 243, 238);
    font-size: large;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
}

li {
    list-style: none;
}

a.book-new {
    background-color: rgb(240, 196, 102);
}

button.cancel-btn {
    background-color: rgba(240, 216, 192, 0.966);
    font-size: 15px;
    padding: 0.2rem;
}

/* Reviews Page */

.customer-reviews {
    text-align: center;
    background-color: rgb(248, 243, 238);
    padding: 1rem;
    margin-left: 30%;
    margin-right: 30%;
}

.review-username {
    font-size: medium;
}

/* Media queries on screens less than 600px */
@media screen and (max-width: 1000px) {

    .intro-treatments {
        align-items: center;
        width: 90%;
        margin: 0;
    }

    .review-display {
        width: 90%;
        margin: 0;
    }

    .container {
        padding: 1rem;
        margin: 0;
        width: 90%;
    }
}