{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- book_now.html content starts here -->
<link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<div class="container">
    <div class="booking-form">
        <h2 class="book-app-heading">Book an Appointment</h2>
        {% if user.is_authenticated %}
        <p class="text-start m-3">You are logged in as {{ user }}</p>
        {% else %}
        <p class="text-start m-3">You are not logged in, please login to book an appointment.</p>
        {% endif %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="alert {{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form method="post" class="col-md-6 about-us">
            {% csrf_token %}
            {{ appointment_form | crispy }}
            <button type="submit" class="btn book-btn">Book New Appointment</button> <a
                href="{% url 'list_appointments' %}" class="btn btn-md active treatment-btn" role="button"
                aria-pressed="true">View Existing Appointments</a>
        </form>

    </div>
    <br>
    <div class="col-md-12 mb-6  mt-6 about-us">
        <h3 class="about-us-heading">About us</h3>
        <br>
        <p class="info"><i class="fa-solid fa-location-dot info"></i> Find Us</p>
        <p class="details"> The Forest Glen Hotel, Ennis, Co. Clare</p>
        <p class="info"><i class="fa-solid fa-phone info"></i> Call Us</p>
        <p class="details"> (065) 605 123</p>
        <p class="info"><i class="fa-solid fa-envelope info"></i> Email Us</p>
        <p class="details"> relax@serenityescapespa.ie</p>
    </div>
</div>
</div>
<script>
    // Initialize Flatpickr
    flatpickr("#datepicker", {
        minDate: "today",  // Disable past dates
        dateFormat: "Y-m-d",  // Match the Django date format
    });
</script>
<!-- book_now.html content ends here -->
{% endblock %}