{% extends "base.html" %}

{% block content %}

<!-- book_now.html content starts here -->
{% if user.is_authenticated %}
<p class="text-start m-3">You are logged in as {{ user }}</p>
{% else %}
<p class="text-start m-3">You are not logged in</p>
{% endif %}
<div class="container">
    <h1>Book an Appointment</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Book Appointment</button>
    </form>
</div>

<!-- book_now.html content ends here -->
{% endblock %}