{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- book_now.html content starts here -->
{% if user.is_authenticated %}
<p class="text-start m-3">You are logged in as {{ user }}</p>
{% else %}
<p class="text-start m-3">You are not logged in</p>
{% endif %}
<div class="container">
    <h2>Book an Appointment</h2>
    <form method="post">
        {% csrf_token %}
        {{ appointment_form | crispy }}
        <button type="submit" class="btn book-btn">Book Now</button>
    </form>
</div>

<!-- book_now.html content ends here -->
{% endblock %}