{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- edit_appointment.html content starts here -->
<link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- edit_appointment.html form to update appointment details -->
<div class="container">
    <div class="col-md-12 mb-6 mt-6 booking-form">
        <h2 class="book-app-heading">Update Your Appointment</h2>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit" class="btn save-changes">Save Changes</button>
            <a href="{% url 'list_appointments' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
<script>
    flatpickr("#datepicker", {
        minDate: "today",
        dateFormat: "Y-m-d",
        disable: [
            function (date) {
                return date.getDay() === 0; // Disable Sundays
            }
        ]
    });
</script>
<!-- edit_appointment.html content ends here -->
{% endblock %}