{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container list-appointments">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert {{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h2>Your Appointments</h2>
    <p>Thank you for choosing Serenity Escape Spa. Please see below a list of your appointments.</p>
    <ul>
        {% for appointment in appointments %}
        <li>{{ appointment.treatment_selected }} on {{ appointment.appointment_date }} at {{ appointment.appointment_time }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}